＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-tittle{
  padding: 20px 0  0 20px;
}

.main-visual{
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background-image: url(mv.jpg);
  background-position: bottom;
  background-size: cover;
}

.item{
  padding: 30px;
  width: 840px;
  margin: 0 auto;
  border-bottom:3px solid #f7f7f7;

}

