＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 960px;
  margin: 0 auto;
}

.list{
  width: 960px;
  margin: 50px 0;

}

.list-item{
  padding: 20px;
}

.list-item:nth-child(odd){
  background-color: #f7f7f7;
}

.box{
  width: 960px;
  margin-bottom:10px;
  display: flex;
  flex-wrap:wrap;
}

.box-item{
  width: 30%;
  height: 200px;
  margin: 0 40px 5% 0;
background-color: yellow;
}

.box-item:nth-child(1){
  background-color: orange;
}

.box-item:nth-child(3){
  margin: 0;
}

.box-item:nth-child(5){
  background-color: orange;
}

.box-item:nth-child(6){
  margin:0;
}

.box-item:nth-child(9){
margin: 0;
  background-color: orange;
}

